In [2]:
from datetime import datetime

import exchange_calendars as xcals
import pandas as pd

# Sessions Tutorial

In `exchange_calendars` a 'session' is a UTC midnight timestamp that represents a day on which an exchange is open...

In [3]:
xnys = xcals.get_calendar("XNYS")  # New York Stock Exchange
xnys.sessions_in_range("2021-01-01", "2021-01-10")

DatetimeIndex(['2021-01-04 00:00:00+00:00', '2021-01-05 00:00:00+00:00',
               '2021-01-06 00:00:00+00:00', '2021-01-07 00:00:00+00:00',
               '2021-01-08 00:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='C')

The calendar stores the open and close times for each session. If a session has a lunch break then the break start and break end times are also stored. All these times are defined as UTC.

In [4]:
xhkg = xcals.get_calendar("XHKG", side="left")  # Hong Kong Stock Exchange
xhkg.schedule
# The index is comprised of the calendar's sessions

,market_open,break_start,break_end,market_close
2001-09-21 00:00:00+00:00,2001-09-21 02:00:00,2001-09-21 04:00:00,2001-09-21 05:00:00,2001-09-21 08:00:00
2001-09-24 00:00:00+00:00,2001-09-24 02:00:00,2001-09-24 04:00:00,2001-09-24 05:00:00,2001-09-24 08:00:00
2001-09-25 00:00:00+00:00,2001-09-25 02:00:00,2001-09-25 04:00:00,2001-09-25 05:00:00,2001-09-25 08:00:00
2001-09-26 00:00:00+00:00,2001-09-26 02:00:00,2001-09-26 04:00:00,2001-09-26 05:00:00,2001-09-26 08:00:00
2001-09-27 00:00:00+00:00,2001-09-27 02:00:00,2001-09-27 04:00:00,2001-09-27 05:00:00,2001-09-27 08:00:00
...,...,...,...,...
2022-09-15 00:00:00+00:00,2022-09-15 01:30:00,2022-09-15 04:00:00,2022-09-15 05:00:00,2022-09-15 08:00:00
2022-09-16 00:00:00+00:00,2022-09-16 01:30:00,2022-09-16 04:00:00,2022-09-16 05:00:00,2022-09-16 08:00:00
2022-09-19 00:00:00+00:00,2022-09-19 01:30:00,2022-09-19 04:00:00,2022-09-19 05:00:00,2022-09-19 08:00:00
2022-09-20 00:00:00+00:00,2022-09-20 01:30:00,2022-09-20 04:00:00,2022-09-20 05:00:00,2022-09-20 08:00:00
2022-09-21 00:00:00+00:00,2022-09-21 01:30:00,2022-09-21 04:00:00,2022-09-21 05:00:00,2022-09-21 08:00:00

Each session is associated with a set of contiguous trading minutes (or two sets if the sesson has a lunch break).

In [5]:
xhkg.minutes_for_session(xhkg.schedule.index[-1])

DatetimeIndex(['2022-09-21 01:30:00+00:00', '2022-09-21 01:31:00+00:00',
               '2022-09-21 01:32:00+00:00', '2022-09-21 01:33:00+00:00',
               '2022-09-21 01:34:00+00:00', '2022-09-21 01:35:00+00:00',
               '2022-09-21 01:36:00+00:00', '2022-09-21 01:37:00+00:00',
               '2022-09-21 01:38:00+00:00', '2022-09-21 01:39:00+00:00',
               ...
               '2022-09-21 07:50:00+00:00', '2022-09-21 07:51:00+00:00',
               '2022-09-21 07:52:00+00:00', '2022-09-21 07:53:00+00:00',
               '2022-09-21 07:54:00+00:00', '2022-09-21 07:55:00+00:00',
               '2022-09-21 07:56:00+00:00', '2022-09-21 07:57:00+00:00',
               '2022-09-21 07:58:00+00:00', '2022-09-21 07:59:00+00:00'],
              dtype='datetime64[ns, UTC]', length=330, freq=None)

See the [minutes.ipynb](/minutes.ipynb) <!--CHECK LINE, MAY NEED TO MAKE ABSOLUTE--> tutorial for an explanation of how trading minutes for a session are evaluated according to the "side" option.

A timestamp representing a 'session' assumes the value of **UTC midnight of the day in which most of the session falls** (based on UTC open/close times). Almost all calendars' have sessions that fall fully within a single day. The schedule above shows this is the case for XHKG.

A few calendars have sessions that fall over two days...

In [6]:
cmes = xcals.get_calendar("CMES")
cmes.schedule
# sessions take value as UTC midnight of the day in which most of the session falls.

,market_open,break_start,break_end,market_close
2001-09-21 00:00:00+00:00,2001-09-20 22:00:00,NaT,NaT,2001-09-21 22:00:00
2001-09-24 00:00:00+00:00,2001-09-23 22:00:00,NaT,NaT,2001-09-24 22:00:00
2001-09-25 00:00:00+00:00,2001-09-24 22:00:00,NaT,NaT,2001-09-25 22:00:00
2001-09-26 00:00:00+00:00,2001-09-25 22:00:00,NaT,NaT,2001-09-26 22:00:00
2001-09-27 00:00:00+00:00,2001-09-26 22:00:00,NaT,NaT,2001-09-27 22:00:00
...,...,...,...,...
2022-09-15 00:00:00+00:00,2022-09-14 22:00:00,NaT,NaT,2022-09-15 22:00:00
2022-09-16 00:00:00+00:00,2022-09-15 22:00:00,NaT,NaT,2022-09-16 22:00:00
2022-09-19 00:00:00+00:00,2022-09-18 22:00:00,NaT,NaT,2022-09-19 22:00:00
2022-09-20 00:00:00+00:00,2022-09-19 22:00:00,NaT,NaT,2022-09-20 22:00:00
2022-09-21 00:00:00+00:00,2022-09-20 22:00:00,NaT,NaT,2022-09-21 22:00:00

### `session` parameter
Methods that require a session to be specified take a `session` parameter (or `start_session` and `end_session` parameters if they require a session range).

A `session` parameter can take a `Date` or a `Session` type, defined as:

```python
Date = typing.Union[pd.Timestamp, str, int, float, datetime.datetime]
Session = Date
```
In short, a `session` parameter can take any type that can be passed as a single argument to pd.Timestamp(). For example, the argument of `next_session` takes a `Session` type and any of the following inputs are valid:
<!--TODO - following any renaming, change method in following cell to `next_session`-->

In [7]:
inputs = [
    "2021-06-15",
    pd.Timestamp("2021-06-15"),
    datetime(2021, 6, 15),
    1623715200000000000,
]
xlon = xcals.get_calendar("XLON")
for input_ in inputs:
    assert xlon.next_session_label(input_) == pd.Timestamp('2021-06-16', tz='UTC')

The difference between `Date` and `Session` is that whilst an object passed to a parameter annotated `Date` can represent any date, an object passed to a parameter annotated `Session` must represent an actual calendar session.

For example, the arguments of `sessions_in_range` take a `Date` type, such that the following is valid even though it can be seen that neither of the values passed represent sessions.

In [8]:
xlon.sessions_in_range("2021-01-01", "2021-01-10")

DatetimeIndex(['2021-01-04 00:00:00+00:00', '2021-01-05 00:00:00+00:00',
               '2021-01-06 00:00:00+00:00', '2021-01-07 00:00:00+00:00',
               '2021-01-08 00:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='C')

However, passing a date that is not a session to an argument that takes a `Session` take will raise a `NotSessionError`...

In [ ]:
xlon.session_open("2021-01-10")
# run cell for full traceback

```python
---------------------------------------------------------------------------
NotSessionError                           Traceback (most recent call last)
~\AppData\Local\Temp/ipykernel_13120/1881329943.py in <module>
----> 1 xlon.session_open("2021-01-10")

NotSessionError: Parameter `session_label` takes a session label although received input that parsed to '2021-01-10 00:00:00+00:00' which is not a session of calendar 'XLON'
```

To find out **which type a `session` parameter takes**, simply refer to the annotated types in the method signature:

In [ ]:
xlon.session_open?
# run cell for full method doc

```python
Signature: xlon.session_open(session_label: 'Session', _parse: 'bool' = True) -> 'pd.Timestamp'
Docstring: Return open time for a given session.
```

#### Invalid `session` input

##### **Time components** 
A `session` parameter cannot include a time component...

In [ ]:
xlon.session_open("2021-01-07 12:20")
# run cell for full traceback

```python
---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
~\AppData\Local\Temp/ipykernel_13120/3755301729.py in <module>
----> 1 xlon.session_open("2021-01-07 12:20")

ValueError: Parameter `session_label` parsed as '2021-01-07 12:20:00' although a Date must have a time component of 00:00.
```

##### **Timezone**
A `session` parameter can be passed as tz-naive or have tz defined as "UTC". Any other tz will raise a ValueError.

In [ ]:
session = pd.Timestamp("2021-01-07", tz="Europe/London")
xlon.session_close(session)
# run cell for full traceback

```python
---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
~\AppData\Local\Temp/ipykernel_13120/651798047.py in <module>
      1 session = pd.Timestamp("2021-01-07", tz="Europe/London")
----> 2 xlon.session_close(session)

ValueError: Parameter `session_label` received with timezone defined as 'Europe/London' although a Date must be timezone naive or have timezone as 'UTC'.
```